.footer__Div{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 7.5rem;
    gap: 2rem;
    background-color: var(--grey-0);
    height: 150px;
}
.footer__Div .img__perfil{
    width: 60px;
    height: 60px;
    border-radius: 100px;
}
.footer__Div div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-right: 25rem;
}
.footer__Div div h4{
    color: var(--grey-4);
}
.footer__Div div p{
    color: var(--grey-2);
}
.footer__Div img{
    width: 60px;
    height: 60px;
}
